@import "tailwindcss";

:root {
  --background-dark: #00010d;
  --text-light: #ededed;
  --background-light: #ffffff;
  --text-dark: #171717;
}

@theme inline {
  --color-background-dark: var(--background-dark);
  --color-background-light: var(--background-light);
  --color-text-light: var(--text-light);
  --color-text-dark: var(--text-dark);
  --font-inter: var(--font-inter);
}

body {
  background: var(--background-dark);
  color: var(--text-light);
  font-family: Arial, Helvetica, sans-serif;
}
